@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html, body { @apply h-full overflow-hidden overflow-y-auto scroll-smooth;font-family: Sora, sans-serif; }
main { @apply m-3; }
main .container { @apply mx-auto;}
